<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-234497923-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-234497923-1');
  </script>

	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Horos.today is an astrolunar daily calendar and astrological glossary">
        <meta name="keywords" content="daily, astrolunar, astrogy, horoscope, calendar">
        <meta name="author" content="Parker McGowan">
	<title>horos.today</title>
	<link rel="stylesheet" type="text/css" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <script src="granim.min.js"></script>

</head>
<body>
  <section class="hero" id="home">
  <canvas id="canvas-basic"></canvas>
  <noscript>
    <style>
      .hero {
        background-color: darkred !important;
      }
    </style>
  </noscript>
    <div class="hero-inner">
      <div id="tz-form">

        <form method="POST" action="/">
          <h1> enter your location </h1>
          <input type="text" name="geolocation" placeholder="chicago, illinois" >
          <input type="submit" value="submit">
        </form>
      </div>
    </div>
  </section>
  <script src="gradient.js"></script>
</body>
