html, body, span, object, iframe,
h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section, summary,
time, mark, audio, video {
  /* canvas above */
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    /* background:transparent; */
    background-color: floralwhite;
    font-family: 'Roboto Slab', serif;
}

.colhead {
    font-family: 'Roboto Slab', serif;
    /*text-align: center;*/
    padding-top: 5px !important;
    padding: 50px;
}
.symbol {
    width: 100px;
    /* height: auto; */
    padding: 15px !important; 
    /* margin: 100px; */
}
.aspect-symbol {
    width: 45px;
}

.nav>.nav-item>.nav-link {
    background-color: #2e83b9;
    color: floralwhite;
}

.nav>.active>a {
    background-color: floralwhite !important;
    color: #000 !important;
} 
.nav .nav-item .nav-link:hover {
    background-color: floralwhite !important;
    color: #000;
}

.nav .nav-item .nav-link>.active {
    background-color: floralwhite !important;
    color: #000 !important;
}

.nav-tabs .nav-item .nav-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  
  font-family: 'Roboto Slab', serif;
  border-radius: 0 !important;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-direction: row;
  background-color: floralwhite;
}

#cur_sun {
}

#cur_moon {

}

.lunar-transit{
  text-align: center;
}

.lunar-transit-inner{
  padding-top: .6em;
}

.lunar-aspects h1 {
  text-align: center;
}

@keyframes slideInUp {

0% {
    -webkit-transform: translate3d(0,70%,0);
    transform: translate3d(0,70%,0);
    visibility: visible;
}
100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

}

#lunar-card{
  position: absolute;
  left: minmax(0em, 60%);
  bottom: 0;
  width: minmax(auto, 20em);
  border-radius: 25px 25px 0px 0px;
  vertical-align: bottom;
  height: fit-content;
  min-height: 45%;
  background-color: floralwhite;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

#sun-sign {
  text-align: center;
}

.col {
  float: left;
  width: 50%;
  padding: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
  }
}

#tz-form{
  position: absolute;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  margin: auto;
  width: auto;
  border-radius: 25px 25px 25px 25px;
  vertical-align: center;
  height: auto;
  background-color: floralwhite;
  text-align: left;

  padding: 20px 20px 20px 20px;
}
@media (max-width: 750px) {
    #lunar-card {
        /*position: absolute;
        left: 6px;
        bottom: 0;
        right: 6px;*/
    }
    #tz-form {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
    .footer {
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
      /* justify-content: center; */

            /* display: block; */
      height: 700px !important;
      text-align: center;
      /* margin: auto !important; */
    }
    .footer-text {
      /* display: block; */
      float: left;
      width: 80%;

      margin: auto;
      text-align: left;
      position: relative !important;
      word-wrap: break-word;
      top: 0px;
      left: 50px;
      right: 50px;
      bottom: 0px;
      /* width: 300px !important; */
    }
    .about-image {
      visibility: hidden;
    }
    .about-mobile {
      /* display: inline-block; */
      /* float: left; */
      padding-top: 45px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      visibility: visible;
    }
}

@media (min-width: 750px) {
  .about-image {
      visibility: visible
    }
  .about-mobile {
      visibility: hidden;
  }
  .footer {
    height: 390px;
    overflow: hidden;
  }

}

.exp-container{
  background-color: floralwhite;
  display: flex;
  flex-wrap: wrap;
}
.exp {
  flex: 20%;
  background-color: floralwhite;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

br {
  display: block;
  margin-bottom: -.2em;
}

.section-break {
}

.footer {
  position: relative;
  color: floralwhite;
  top: 0px;
  bottom: 0px;
  align-items: center;
  background-color: #2e83b9 !important;
  font-family: 'Roboto Slab', serif;
}

.footer-title {
  text-align: center;
  padding-top: 0px !important;
  padding-bottom: 0px;
}

.footer a {
  color: lightpink;
}

.footer-text {
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 50px;
  bottom: 0px;
  /* width: 400px; */
}

.imp-link {
  color: floralwhite !important;
  background-color: orange !important;
}

.about-image {
  z-index: 1;
  position: absolute;
  margin-top: 26px !important;
  margin-left: 250px !important;
  right: 0;
  bottom: 0;
  vertical-align: bottom;
  background-color: #2e83b9 !important;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
